<style>
    .hore--{{ id }} {
        background-image:url({{settings.small_image | img_url: 'master' }});
        height:600px;    
    }
    @media (min-width:600px){
        .hore--{{ id }} {
            background-image: url({{settings.small_image | img_url: 'master'}});
            height:600px;
    }
}
    @media (min-width:992px){
        .hore--{{ id }} {
            background-image: url({{settings.large_image | img_url: 'master'}});
            height:600px;
    }
}
</style>
<section class="hore hore--{{id}}">
    <div class="hero__overlay"></div>
    <div class="hero__content hore__content--{{settings.aligment}}">
        <h2 class="hore__headding">{{ settings.heading }}</h2>
        <p class="hore__copy">{{ settings.copy }}</p>
        <a href="{{settings.link_url}}" class="hore__link">{{settings.link_text}}</a>
    </div>
</section>
<!-- {% assign variable = all_products %}
{{ variable.title }} -->
<!-- {{ all_products['fish'].title }} -->

<!-- {% for collection in product.collections %}
  {{ collection.title }}
{% endfor %} -->